@charset "UTF-8";

/*****************  ベース  ここから  *****************/


/*****************  header向けモジュール  ここから  *****************/


/* アイキャッチエリア */

.l-header.header .top-visual {
    position: relative;
    margin-top: var(--header-height);
    background: url("../img/common/eyecatch-about.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 45rem;
}

.l-header.header .top-visual .catch {
    position: absolute;
    margin: 0 20px;
    top: 45%;
    right: 5%;
    font-size: 3rem;
    color: #fff;
}

.l-header.header .top-visual .catch-copyabout {
    position: absolute;
    margin: 10rem;
    top: 1%;
    left: 30%;
    font-size: 3rem;
}


/*****************  main向けモジュール  ここから  *****************/


/* ページ内共通 */

.main .container-primary {
    width: 100%;
    background: #fff;
}

.l-main .member-list {
    background-color: #F9F9F9;
    width: 80%;
    margin-left: 10%;
}


/* OTHER MEMBERS */

.l-main .member-list {
    background-color: #F9F9F9;
}

.l-main .container-primary-inner .tiles .content {
    width: 100%;
    display: block;
    padding-top: 2%;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    box-shadow: 4px 2px 5px -1px rgb(0 0 0 / 20%)
}

.l-main .container-primary-inner .tiles .content .list-area {
    width: 100%;
    background-color: rgba(251, 251, 251, 0.95);
    padding: 5%;
    margin: 37% 0 0 0;
}

.l-main .member-list .container-primary-inner {
    padding-top: 50px;
    margin-bottom: 5rem;
}

.area-job .l-main .container-primary .tiles .content {
    margin: 10px;
}

.l-main .container-primary .tiles .area-job {
    margin: 1rem;
}

.l-main .tiles .area-personal-info {
    margin: 1rem 2rem;
}

.l-main .area-personal-info .text-name {
    font-size: 3rem;
    font-weight: 400;
}

.l-main .area-personal-info .text-hire-date {
    font-size: 1.2rem;
}

.l-main .tiles .br {
    display: none;
}


/* MEMBER 画像指定 */

.l-main .tiles .image-1 {
    background-image: url(../img/common/image-kamil-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-2 {
    background-image: url(../img/common/image-kamil-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-3 {
    background-image: url(../img/common/image-kamil-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-4 {
    background-image: url(../img/common/image-kamil-4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-5 {
    background-image: url(../img/common/image-kamil-5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-6 {
    background-image: url(../img/common/image-kamil-6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-7 {
    background-image: url(../img/common/image-kamil-7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-8 {
    background-image: url(../img/common/image-kamil-8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-9 {
    background-image: url(../img/common/image-kamil-9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.l-main .tiles .image-10 {
    background-image: url(../img/common/image-kamil-10.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


/*****************************************************************
                        タブレット版のための追加設定
*****************************************************************/

@media screen and (max-width: 1200px) {
    /* ページ内遷移ずれ防止、前のコンテンツの末尾にdivとして埋め込む */
    .l-header.header .top-visual {
        background: url("../img/common/eyecatch-about.jpg") center center no-repeat;
        background-size: cover;
        height: 55rem;
    }
    .l-header.header .top-visual .catch {
        font-size: 2rem;
    }
    .main .container-primary-inner {
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    /* コンテンツエリア共通パーツカスタム */
    .main .container-primary h2 {
        padding-left: 0%;
    }
    .main .container-primary .contents {
        padding: 0 5%;
    }
    /* イントロ */
    .main .container-primary.intro h2 {
        padding-top: 60px;
    }
    .main .container-primary.intro .contents {
        font-size: 2rem;
    }
    .main .container-primary {
        margin-top: -11%;
        width: 100%;
        background: #fff;
    }
    body {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .l-main .member-list {
        background-color: #F9F9F9;
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
    }
}


/*****************************************************************
                          SP版のための追加設定
*****************************************************************/


/* スマホ縦画面の幅で判定 幅576px以下の場合に適用 */


/*****************  ベース  ここから  *****************/

@media screen and (max-width: 576px) {
    /*****************  header向けモジュール  ここから  *****************/
    .l-header.header {
        background: url("../img/common/eyecatch-about.jpg") center center no-repeat;
        background-size: cover;
        width: 100%;
        max-width: 100%;
        height: 25rem;
    }
    .l-header.header .top-visual .catch {
        color: #fff;
        font-size: 0rem;
        padding-bottom: 100px;
    }
    .main .container-primary-inner {
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .l-header.header .top-visual {
        background: none;
        width: 80%;
        height: 40rem;
    }
    /* コンテンツエリア共通パーツカスタム */
    .main .container-primary h2 {
        padding-left: 0%;
    }
    .main .container-primary .contents {
        padding: 0 5%;
    }
    /* イントロ */
    .main .container-primary.intro h2 {
        padding-top: 60px;
    }
    .main .container-primary.intro .contents {
        font-size: 1.2rem;
    }
    .main .container-primary {
        width: 100%;
        background: #fff;
    }
    body {
        font-size: 1rem;
        line-height: 1.5;
    }
    .l-main .member-list {
        background-color: #F9F9F9;
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
    }
    .l-header.header .top-visual .catch-copyabout {
        position: absolute;
        margin: 1rem;
        top: 200px;
        left: 30%;
        font-size: 0rem;
    }
}